build/characters/Egypt_gods/*
build/characters/Greek_gods/*
build/dna_data/Greek_gods/*
build/dna_data/Egypt_gods/*

!build/characters/Egypt_gods/.gitkeep
!build/characters/Greek_gods/.gitkeep
!build/dna_data/Egypt_gods/.gitkeep
!build/dna_data/Greek_gods/.gitkeep

#scripts/*
#docs/*